$md-blue: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #0d7b6c,
  A100: #adfff3,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-lightblue: (
  50: #f4ffff,
  100: #e5ffff,
  200: #d3ffff,
  300: #c1ffff,
  400: #b4ffff,
  500: #a7ffff,
  600: #9fffff,
  700: #96ffff,
  800: #8cffff,
  900: #7cffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-darkblue: (
  50: #e8f3f4,
  100: #c6e1e3,
  200: #a0cdd0,
  300: #79b9bd,
  400: #5daaae,
  500: #409ba0,
  600: #3a9398,
  700: #32898e,
  800: #2a7f84,
  900: #1c6d73,
  A100: #aff9ff,
  A200: #7cf6ff,
  A400: #49f2ff,
  A700: #30f0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-ochre: (
  50: #f9f1ee,
  100: #f1ddd5,
  200: #e8c6ba,
  300: #dfaf9e,
  400: #d89e89,
  500: #d18d74,
  600: #cc856c,
  700: #c67a61,
  800: #c07057,
  900: #b55d44,
  A100: #ffffff,
  A200: #ffdfd7,
  A400: #ffb7a4,
  A700: #ffa38b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-lightochre: (
  50: #fff7f4,
  100: #ffebe3,
  200: #ffded1,
  300: #ffd1bf,
  400: #ffc7b1,
  500: #ffbda3,
  600: #ffb79b,
  700: #ffae91,
  800: #ffa688,
  900: #ff9877,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fffefe,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-darkochre: (
  50: #f3ece9,
  100: #e2cfc8,
  200: #cfafa4,
  300: #bb8f7f,
  400: #ad7763,
  500: #9e5f48,
  600: #965741,
  700: #8c4d38,
  800: #824330,
  900: #703221,
  A100: #ffbfb0,
  A200: #ff967d,
  A400: #ff6d4a,
  A700: #ff5930,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
