@import "./styles/app_theme";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Abel, "Abel regular", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
